.container{
    align-items: center;
    background: linear-gradient(100deg, white 60%, orange 40%);
}
.logo{
    display: flex;
    align-items: center;
}
.logo span{
    color: orange;
}
.logo p{
    font-size: 35px;
    font-family: "Lobster";

}
.header{
    position: absolute;
    top:20px;
    right: 30px;

}
.header ul{
    display: flex;
    list-style-type: none;
    float: right;
    margin-left:80% ;   

}
.header li{
    margin-right:50px;
}
.text{
    display: flex;
   
}
.intro{
   padding-left: 100px;
   padding-top: 100px;
    width: 50%;

}
.image1 img{
    width: 50%;
    float: right;
    padding-right: 100px;
    
}

.intro button{
    background: orange;
    font-weight: bold;

}
.description{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    padding-top: 100px;
    padding-bottom: 30px;
}
.description1{
    border: solid maroon;
    margin: 30px;
    text-align: center;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

#desrip1{
    height: 400px;
    width: 400px;
}
.menu h4{
    text-align: center;
}
.menu span{
    color: orange;
}
.foods{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
}
.burger{
    margin: 20px;
    text-align: center;
    max-width: 150px;
    border-radius: 10px;
    border: solid black;
}
.price img{
    background-color:#E1EBE6 ;
}
.special{
    background-color: aliceblue;
    display: inline-flex;
    text-align: left;
    flex-direction: row;
    height: 700px;
    width: 1280px;
    
}
.doubledecker{
    margin: 3px;

}
#image{
float: right;
}
.info{
    background-color: #F6B400;
    display:flex;
    flex-direction: row;
}
.mobile{
    margin: 150px;
    padding: 15px;
    float: right;
}
.mobile p{
    font-size: larger;
    font-weight: bold;
}
.signout{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header2{
    position: absolute;
    right: 900px;
}
.header2 ul{
    display: inline;
    list-style-type: none;

}
.dial{
    float: right;
    display: flex;
    flex-direction: row;
    right: 30px;
    top: 20px;
    margin-left: 40%;
}
